.special_offer {
  display: block;
  width: min-content;
  white-space: nowrap;
  background-color: #e8f2fc;
  padding: 5px 10px 5px 34px;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  color: #3d8be8;
  text-transform: uppercase;
  margin: 12px 0 10px -30px;
  border-radius: 0 4px 4px 0;
}
