.scheduling-page {
  background: #fffaf5;
  .scheduling-top {
    padding-top: 60px;
    padding-bottom: 32px;
    @media screen and (max-width: 991px) {
      padding-top: 40px;
      padding-bottom: 24px;
    }
    .container {
      max-width: 690px;
    }
  }
  .page-title {
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    margin-bottom: 16px;
    @media screen and (max-width: 991px) {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 12px;
    }
  }
  .page-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #6f7283;
    @media screen and (max-width: 991px) {
      font-size: 16px;
    }
  }
  .calendar-section {
    .container {
      max-width: 1030px;
    }
    .calendar-area-wrap {
      display: flex;
      gap: 40px;
      @media screen and (max-width: 991px) {
        flex-direction: column;
        gap: 32px;
      }
      .second-col {
        width: 420px;
        flex-shrink: 0;
        @media screen and (max-width: 991px) {
          width: auto;
        }
      }
    }
    .scheduling-modal__content-calendar {
      margin-top: 24px;
      background: white;
      border-radius: 16px;
      padding: 20px 24px;
      & > label {
        display: block;
      }
      .flatpickr-innerContainer,
      .flatpickr-rContainer {
        display: block;
      }
      .flatpickr-current-month .cur-month {
        font-size: 18px;
        text-transform: unset;
      }
      .flatpickr-months {
        .flatpickr-prev-month,
        .flatpickr-next-month {
          height: 36px;
          width: 36px;
          border-radius: 0;
          border: none;
          svg path {
            fill: #6f7283;
          }
        }
        .flatpickr-next-month {
          margin-left: 12px;
        }
      }
      .flatpickr-weekdaycontainer {
        background: none;
        display: grid;
        grid-template-columns: repeat(7, auto);
        .flatpickr-weekday {
          font-size: 14px;
          line-height: 20px;
          color: #31364e;
          text-transform: unset;
          max-width: unset;
          width: auto;
        }
      }
      .flatpickr-days {
        .dayContainer {
          display: grid;
          grid-template-columns: repeat(7, auto);
        }
      }
      .event-type-pills {
        display: flex;
        gap: 8px;
        justify-content: center;
        padding-top: 20px;
        > div {
          border: #e9e9e9 1px solid;
          border-radius: 16px;
          width: 100px;
          height: 28px;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          &::before {
            display: block;
            content: '';
            height: 6px;
            width: 6px;
            background: #ed994e;
            border-radius: 6px;
          }
          &.inPerson {
            &::before {
              background: #3d8be8;
            }
          }
        }
      }
    }
  }
  .form-item {
    label {
      color: #6f7283;
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }
    select,
    input:not([type='checkbox'], [type='radio']) {
      box-shadow: 0px 1px 2px 0px #1018280d;
      border: 1px solid #e9e9e9;
      border-radius: 16px;
      height: 44px;
      width: 100%;
      padding: 10px 14px;
    }
    input[type='checkbox'],
    input[type='radio'] {
      border: 1px solid #e9e9e9;
      height: 20px;
      width: 20px;
      -webkit-appearance: none;
      border-radius: 4px;
      flex-shrink: 0;
      &:checked {
        border: none;
        &::after {
          content: url(/img/checkicon-css.svg);
          background-color: #ed994e;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: self-end;
          border-radius: 4px;
        }
      }
    }
    input[type='radio'] {
      border-radius: 100%;
      border-color: #ed994e;
      display: flex;
      align-items: center;
      justify-content: center;
      &:checked {
        border: 1px solid #ed994e;
        &::after {
          content: '';
          background-color: #ed994e;
          width: 90%;
          height: 90%;
          display: block;
          border-radius: 100%;
        }
      }
    }
  }
  .submit-btn {
    height: 54px;
    padding: 0 32px;
    border-radius: 100px;
    background: linear-gradient(102.78deg, #ffd16f -37.89%, #ff865b 100.28%);
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    border: none;
  }
  .cal-filters {
    display: flex;
    gap: 10px;
    .form-item {
      flex: 1;
    }
  }
  .payment-box {
    box-shadow: 4px 6px 25.100000381469727px 0px #6e6b6824;
    background: white;
    padding: 24px;
    border-radius: 20px;
    @media screen and (max-width: 991px) {
      padding: 24px 16px;
    }
    .payment-total-box {
      padding: 12px 16px;
      border-radius: 8px;
      justify-content: space-between;
      background: #f7f7f7;
      display: flex;
      label {
        font-size: 22px;
        line-height: 30px;
        font-weight: 500;
      }
      .amount {
        font-size: 24px;
        line-height: 26px;
        font-weight: 600;
      }
    }
    .payment-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 20px;
      .payby {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        img {
          margin-top: -13px;
          margin-left: 5px;
        }
      }
      .price-breakup {
        text-align: right;
      }
      .price-per-month {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        span {
          font-size: 16px;
          font-weight: 500;
        }
      }
      .payment-tenure {
        color: #6f7283;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    .payment-agreements {
      border-top: #e6e8ec 1px solid;
      padding-top: 20px;
      .form-item {
        display: flex;
        gap: 12px;
        margin-bottom: 12px;
        label {
          color: #31364e;
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          a {
            color: #ed994e;
            text-decoration: none;
          }
        }
      }
    }
    .payment-actions {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .submit-btn {
        height: 54px;
        padding: 0 32px;
        border-radius: 100px;
        background: linear-gradient(
          102.78deg,
          #ffd16f -37.89%,
          #ff865b 100.28%
        );
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        border: none;
      }
      .submit-btn.gpay {
        background: #31364e;
      }
    }
  }
  .offer-box {
    background: linear-gradient(94.04deg, #ffa180 3.84%, #ed7347 109.6%);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 20px;
    .title {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: white;
      margin-bottom: 12px;
      font-family: Work Sans;
      .icon-wrap {
        display: flex;
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        flex-shrink: 0;
      }
    }
    .offer-text {
      background: #ffffff26;
      padding: 12px 16px;
      border-radius: 16px;
      color: white;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }
  .testimonials {
    padding-top: 80px;
    .container {
      max-width: 1030px;
    }
    .top-text {
      color: #ed994e;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 1px;
      text-align: center;
    }
    .section-title {
      margin-top: 12px;
      font-size: 36px;
      font-weight: 500;
      line-height: 44px;
      text-align: center;
      margin-bottom: 0;
      @media screen and (max-width: 991px) {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .testimonials-listing {
      padding-top: 32px;
      display: flex;
      gap: 24px;
      @media screen and (max-width: 991px) {
        flex-direction: column;
      }
    }
    .testimonial-item {
      background: #fff;
      box-shadow: 4px 6px 25.100000381469727px 0px #6e6b6824;
      padding: 32px 24px;
      border-radius: 32px;
      display: flex;
      flex-direction: column;
      flex: 1;
      @media screen and (max-width: 991px) {
        padding: 24px;
      }
      .author-picutre {
        margin-bottom: 16px;
        text-align: center;
        img {
          border-radius: 100px;
        }
      }
      .testimony-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-bottom: 20px;
      }
      .author-name {
        margin-top: auto;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
      }
    }
  }
  .modal {
    padding-left: 15px;
    &.location-search {
      .modal-dialog {
        max-width: 524px;
        @media screen and (max-width: 720px) {
          height: auto;
          max-width: 100%;
        }
      }
    }
    &.available-time {
      .modal-dialog {
        max-width: 720px;
        @media screen and (max-width: 720px) {
          max-width: 100%;
        }
        .slot-action {
          text-align: center;
          padding-top: 24px;
          button {
            width: auto;
          }
        }
      }
    }
    .modal-header {
      .title {
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        margin: 0;
        @media screen and (max-width: 720px) {
          font-size: 24px;
          line-height: 31px;
        }
      }
      .close {
        color: #9598a6;
        font-size: 40px;
        right: 16px;
        background: none;
        top: 14px;
        font-weight: 300;
        &:focus {
          outline: none;
        }
      }
    }
    .modal-content {
      border-radius: 20px;
      padding: 24px 32px;
      @media screen and (max-width: 720px) {
        padding: 24px 20px;
      }
    }
    .modal-body {
      padding: 24px 0 0 0;
      margin: 0;
      .form-item {
        margin-bottom: 24px;
      }
      .submit-btn {
        width: 100%;
      }
    }
  }
  .time-slot-changer {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    margin-bottom: 24px;
    .slot-info {
      padding: 5px 12px 5px 12px;
      background: #edf5fc;
      border-radius: 8px;
      color: #3d8be8;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
    button {
      width: 36px;
      height: 36px;
      background: none;
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 14px;
        svg {
          path {
            fill: #6f7283 !important;
          }
        }
      }
    }
  }
  .slot-listing {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
    max-height: 50vh;
    overflow: auto;
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, auto);
      max-height: calc(100vh - 250px);
    }
    .slot-item {
      background: #f7f7f7;
      padding: 12px;
      border-radius: 16px;
    }
    .slot-type {
      display: flex;
      justify-content: space-between;
      border-bottom: #e9e9e9 1px solid;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .slot-info {
      font-family: Lora;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
    }
    .slot-select {
      margin: 0 !important;
    }
    .slot-timing {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 24px;
      & + .slot-timing {
        margin-top: 6px;
      }
      .slot-time {
        font-weight: 500;
      }
    }
  }
  .checkout-details {
    border-top: #e9e9e9 1px solid;
    padding-top: 20px;
    margin-bottom: 20px;

    .detail-item {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 14px;
      color: #31364e;
      a {
        color: #ed994e;
        text-decoration: none;
        text-wrap: wrap;
      }
      @media screen and (max-width: 991px) {
        font-size: 12px;
      }
      .label {
        color: #6f7283;
      }
      .detailsIcon {
        width: 20px;
        height: 20px;
      }
      .value {
        word-wrap: break-word;
      }
    }
  }
}
