{
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": 12,
    "sourceType": "module",
  },
  "plugins": ["eslint-plugin-no-inline-styles", "@tanstack/query"],
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "env": {
    "node": true,
    "browser": true,
    "es2020": true,
  },
  "extends": ["eslint:recommended", "next", "prettier"],
  "rules": {
    "no-inline-styles/no-inline-styles": 2,
    "@next/next/no-img-element": "off",
    // "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "react/react-in-jsx-scope": "off",
    // "no-unused-vars": [
    //   "warn",
    //   { "vars": "local", "args": "none", "ignoreRestSiblings": true }
    // ]
    "no-unused-vars": "off",
    "jsx-a11y/alt-text": "off",
    "react-hooks/exhaustive-deps": "off",
    "jsx-a11y/aria-proptypes": "off",
    "@tanstack/query/exhaustive-deps": "off",
    "@tanstack/query/no-rest-destructuring": "warn",
    "@tanstack/query/stable-query-client": "error",
  },
  "ignorePatterns": [
    ".next/*",
    ".vercel/*",
    "node_modules/*",
    "next.config.js",
    "postcss.config.js",
    "stylelint.config.js",
  ],
}
