.scheduling-second--border {
  border-right: 2px solid #eaeaea;

  @media (max-width: 768px) {
    border-right: none;
    border-bottom: 2px solid #eaeaea;
  }
}

.scheduling-second__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.25;

  color: #000000;

  &--large {
    font-size: 21px;
  }

  &--small {
    font-size: 16px;
  }
}

.scheduling-second__text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;

  color: #727272;

  &--small {
    font-size: 12px;
  }
}

.scheduling-second__text--black {
  color: black;
}

.scheduling-second__course {
  padding: 24px 10px;
  img {
    max-width: 100%;
  }
}

.scheduling-second__date {
  padding: 24px 40px;

  @media (max-width: 768px) {
    padding: 24px 10px;
  }
}

.scheduling-second__options {
  max-height: 370px;
  padding: 10px 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
    display: block;
    background-color: #f7f7f7;
  }

  &::-webkit-scrollbar-thumb {
    background: #c4c5cc;
    border-radius: 2px;
  }
}

.scheduling-second__item:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.scheduling-second__option {
  display: block;
  padding: 12px !important;
  border: 1px solid #e6e6e6;
  border-radius: 6px;

  padding-left: 40px !important;
  transition: border-color 300ms ease;

  &:hover {
    border-color: #7aabff;
  }

  &::after {
    margin: 12px;
  }
  &::before {
    margin: 12px;
  }
}

.scheduling-second__option strong {
  font-weight: 600;

  color: #727272;
}

.custom-radio:checked + .scheduling-second__option {
  border: 2px solid #016bff !important;
}

.scheduling__padding {
  padding: 0.5rem;
}
.scheduling__timezone {
  margin-top: 0;
  margin-bottom: 20px;

  .timezone {
    max-width: 350px;
    outline: none;
    border: none;
  }
}

.scheduling__more {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 8px 34px;

  outline: none;

  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  color: #6f7283;
  border: 1px solid #6f7283;
  border-radius: 28px;
  background-color: transparent;

  transition:
    color 300ms ease,
    border-color 300ms ease;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    border-color: #016bff;
    color: #016bff;
  }
}

.scheduling-second__available {
  min-height: 430px;
}

.scheduling-no-data {
  font-size: small;
}

.scheduling-discount {
  .discount-code {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
  }
  .react-tag-container {
    margin-top: -5px;
    border: none;
  }
  .validation-mobile-message {
    padding-top: 4px;
  }
}
