@font-face {
  font-family: 'iconaol';
  src: url('/fonts/iconaol/iconaol.eot?qmw49i');
  src:
    url('/fonts/iconaol/iconaol.eot?qmw49i#iefix') format('embedded-opentype'),
    url('/fonts/iconaol/iconaol.ttf?qmw49i') format('truetype'),
    url('/fonts/iconaol/iconaol.woff?qmw49i') format('woff'),
    url('/fonts/iconaol/iconaol.svg?qmw49i#iconaol') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-aol {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconaol' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconaol-users:before {
  content: '\e919';
}
.iconaol-yoga:before {
  content: '\e91a';
}
.iconaol-world-clock:before {
  content: '\e91b';
}
.iconaol-calendar-2:before {
  content: '\e923';
}
.iconaol-relieved:before {
  content: '\e924';
}
.iconaol-Tick:before {
  content: '\e917';
}
.iconaol-hindu-temple:before {
  content: '\e916';
}
.iconaol-clock-bold:before {
  content: '\e925';
}
.iconaol-payment-card:before {
  content: '\e914';
}
.iconaol-copy:before {
  content: '\e91c';
}
.iconaol-add-square:before {
  content: '\e91d';
}
.iconaol-trash:before {
  content: '\e91e';
}
.iconaol-call-calling:before {
  content: '\e91f';
}
.iconaol-sms:before {
  content: '\e920';
}
.iconaol-arrow-down:before {
  content: '\e921';
}
.iconaol-arrow-up:before {
  content: '\e922';
}
.iconaol-eye:before {
  content: '\e918';
}
.iconaol-logout:before {
  content: '\e915';
}
.iconaol-setting:before {
  content: '\e913';
}
.iconaol-call-bold:before {
  content: '\e911';
}
.iconaol-info-circle-bold:before {
  content: '\e912';
}
.iconaol-info-circle:before {
  content: '\e90e';
}
.iconaol-monitor-mobile:before {
  content: '\e90f';
}
.iconaol-profile-users:before {
  content: '\e910';
}
.iconaol-calendar:before {
  content: '\e90a';
}
.iconaol-location:before {
  content: '\e90b';
}
.iconaol-profile:before {
  content: '\e90c';
}
.iconaol-clock:before {
  content: '\e90d';
}
.iconaol-input-search:before {
  content: '\e900';
}
.iconaol-ascetic:before {
  content: '\e901';
}
.iconaol-death:before {
  content: '\e902';
}
.iconaol-finance:before {
  content: '\e903';
}
.iconaol-health-care:before {
  content: '\e904';
}
.iconaol-hindu-god:before {
  content: '\e905';
}
.iconaol-idea:before {
  content: '\e906';
}
.iconaol-lotus:before {
  content: '\e907';
}
.iconaol-meditation:before {
  content: '\e908';
}
.iconaol-relationship:before {
  content: '\e909';
}
