.userProfilePic {
  width: 38px;
  max-width: 38px !important;
  margin-top: -2px;
  float: right;
}
.userNavitem {
  margin-left: 50px;
  &:hover:before,
  &.active:before {
    transform: scaleX(0) !important;
  }
}
.userName {
  margin-top: 10px;
}
.subMenu {
  top: 66px !important;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.subMenu::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.menuItemArrow {
  top: 34px !important;
}
.profileHeadeImage {
  width: 38px;
  height: 38px;
  font-size: 16px;
  background-image: linear-gradient(to bottom right, #e9e9e9, #cce1f4);
  background-color: #e9e9e9;
  font-family: Lora, sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 25px 0 rgb(61 139 232 / 20%);
  border: 2px solid #e9e9e9;
  border-radius: 50%;
  background-color: #fff;
  line-height: 0.96;
  color: #3d8be8;
  margin: 0px 10px 0px 10px;
}

.initials {
  position: absolute;
  display: block;
}
.profilePic {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
