.course-sahaj-samadhi {
  &.course-filter {
    padding-top: 0;
  }
  @media screen and (max-width: 991px) {
    padding-top: 0 !important;
  }
  @media screen and (max-width: 767px) {
    .container {
      max-width: 360px;
    }
  }

  .samadhi-top-section {
    background: url(/img/samadhi-page-bg.png) repeat-x top left;
    @media screen and (max-width: 991px) {
      background-color: #fffbf0;
    }
    @media screen and (max-width: 767px) {
      background: #fffbf0;
    }
    .banner {
      height: 700px;
      width: 100%;
      background-image: url(/img/aol-p1-hero-bg.webp);
      background-repeat: no-repeat;
      background-position: right top;
      background-size: cover;
      padding: 108px 76px 100px 76px;
      .container {
        @media screen and (max-width: 991px) {
          height: 100%;
          display: flex;
          flex-direction: column;
        }
      }
      .courses-title {
        display: none;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }
      &-title {
        font-size: 48px;
        line-height: 50px;
        font-weight: 600;
        max-width: 550px;
        margin-bottom: 40px;
        color: white;
      }
      &-description {
        font-size: 22px;
        line-height: 25px;
        max-width: 550px;
        color: white;
        @media screen and (max-width: 991px) {
          margin-top: auto;
          color: #000000;
          margin-bottom: 50px;
        }
      }
      @media screen and (max-width: 991px) {
        background-position: bottom center;
        height: 300px;
        padding-left: 0;
        &-title {
          font-size: 35px;
          line-height: 35px;
        }
      }
      @media screen and (max-width: 991px) {
        background-image: url(/img/aol-p1-hero-bg-mobile.jpg);
        height: 859px;
        background-position: center center;
        background-size: cover;
        padding: 20px 32px 10px;
        &-title {
          font-size: 26px;
          line-height: 30px;
          margin-bottom: 30px;
        }
        .courses-title {
          display: block;
          margin-bottom: 10px;
          color: white;
        }
      }
      .hero-register-button-wrapper {
        margin-top: 50px;
        margin-bottom: 20px;
        .hero-register-button {
          background: linear-gradient(90deg, #7464d6 9.51%, #9d8dff 93.54%);
          color: #fff;
          border: 0px;
          border-radius: 10px;
          padding: 1rem 4rem;
        }
        @media only screen and (max-width: 768px) {
          text-align: center;
          margin-top: 30px;
          .hero-register-button {
          }
        }
      }
    }
    .registration-widget {
      margin-top: -180px;
      @media screen and (max-width: 991px) {
        margin-top: 20px;
      }
      .register-content .discount-price {
        display: inline-flex;
        flex-direction: column;
        .content {
          font-size: 42px;
        }
        br {
          display: none;
        }
      }
    }
    .content-video-area {
      display: flex;
      padding: 80px 20px 40px;
      .section-title {
        margin: 0 0 0 0;
        font-family: 'Work Sans';
        font-size: 36px;
        line-height: 36px;
        font-weight: 600;
        max-width: 650px;
        margin-bottom: 40px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        margin: 25px 0;
      }
      .video-wrapper {
        padding: 20px 0 0 60px;
      }
      @media screen and (max-width: 991px) {
        padding: 40px 0px;
      }
      @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 20px 20px;
        .video-wrapper {
          padding: 0;
          iframe {
            max-width: 100%;
            height: 200px;
          }
        }
      }
    }
  }
  .samadhi-featuers {
    display: flex;
    padding: 40px 20px 10px;
    .feature-box {
      display: flex;
      justify-items: center;
      align-items: center;
      flex-grow: 1;
    }
    .feature-icon {
      width: 88px;
    }
    .feature-text {
      font-size: 18px;
      line-height: 18px;
      font-weight: 600;
      max-width: 192px;
    }
    @media screen and (max-width: 991px) {
      padding: 30px 0;
      .feature-box {
        padding-right: 20px;
      }
    }
    @media screen and (max-width: 767px) {
      padding: 20px 0 0 20px;
      .feature-box {
        flex-direction: column;
        padding: 0;
        width: 50%;
        margin-bottom: 20px;
        &:nth-child(2) {
          padding: 0 20px;
        }
      }
      .feature-text {
        font-size: 16px;
        padding-top: 25px;
      }
    }
  }
  .samadhi-benefits-section {
    padding: 60px 40px 0;
    background: url(/img/sahaj-samadhi-benefit-moon.webp) no-repeat top right;
    text-align: center;
    .section-title {
      font-family: 'Work Sans';
      font-weight: 400;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .section-description {
      font-size: 18px;
      line-height: 22px;
    }
    .samadhi-benefits-wrapper {
      padding-top: 40px;
    }
    .samadhi-benefit-box {
      height: 500px;
      display: flex;
      padding: 20px 65px 60px;
      flex-direction: column;
      &.box1 {
        background: url(/img/sahaj-benefit-elevate.webp) no-repeat top right;
      }
      &.box2 {
        background: url(/img/sahaj-benefit-revitalize.webp) no-repeat top right;
      }
      &.box3 {
        background: url(/img/sahaj-benefit-unlock.webp) no-repeat top right;
      }
      &.box4 {
        background: url(/img/sahaj-benefit-amplify.webp) no-repeat top right;
      }
      .benefit-title {
        margin-top: auto;
        font-family: 'Lora';
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 22px;
      }
    }
    @media screen and (max-width: 991px) {
      padding: 40px 0 0 0;
    }
    @media screen and (max-width: 767px) {
      &.container {
        width: 100%;
        background: white;
        max-width: 100%;
        padding-top: 0;
        & > * {
          max-width: 360px;
          margin: auto;
        }
        .section-title {
          text-align: left;
          font-size: 26px;
          padding-left: 20px;
          padding-top: 40px;
          height: 120px;
          padding-bottom: 25px;
          background: url(/img/sahaj-samadhi-benefit-moon.png) no-repeat right
            30px;
          background-size: 200px;
        }
        .section-description {
          display: none;
        }
      }
      .samadhi-benefit-box {
        height: 450px;
        text-align: left;
        padding: 24px;
        .benefit-title {
          font-size: 28px;
          line-height: 30px;
        }
        .benefit-text {
          font-size: 16px;
          line-height: 20px;
        }
      }
      .samadhi-benefits-wrapper {
        padding-top: 0px;
      }
    }
  }
  .register-to-unlock {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
      max-width: 450px;
      text-align: center;
    }
    .unlock-title {
      font-size: 26px;
    }
    .unlock-register {
      padding-top: 20px;
      button {
        background: linear-gradient(90deg, #7464d6 9.51%, #9d8dff 93.54%);
        color: #fff;
        border: 0px;
        border-radius: 10px;
        padding: 1rem 4rem;
      }
    }
  }
  .quote-section {
    background-color: #f7f5f4;
    padding: 71px 0 100px 0;
    background-image: url(/img/Quote-dektop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    @media only screen and (max-width: 991px) {
      padding: 30px 0 20px 0;
    }
    .main-area {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      span {
        font-family: 'Lora', serif;
        font-size: 46px;
        line-height: 56px !important;
        color: #fff;
        padding: 0 50px;
        font-weight: 400;
        margin-bottom: 0.5rem;
        max-width: 100%;
        font-style: italic;
        text-align: center;
      }
      @media only screen and (max-width: 991px) {
        span {
          font-size: 21px;
          line-height: 22px !important;
        }
      }
    }
    .quote-section__text {
      text-align: center;
      color: #ffffff;
      margin-top: 1rem;

      font-size: 36px;
      line-height: 71px;
      color: #fff;
      img {
        width: 144px;
        height: 144px;
        @media only screen and (max-width: 991px) {
          width: 48px;
          height: 48px;
          margin-bottom: 15px;
        }
      }
    }
    @media only screen and (max-width: 991px) {
      .quote-section__text {
        font-size: 15px;
        line-height: 36px !important;
      }
    }
  }
  .feature-section {
    background-color: #ffffff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    .feature_block {
      padding-bottom: 2rem;
    }
    .feature_box {
      display: flex;
      flex-direction: row;
      padding: 1rem;
      margin: 1rem 0;
      min-height: 15rem;
      text-align: center;
      border-radius: 20px;
      .feature_logo {
        margin-bottom: 1rem;
        min-height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 24px;
        img {
          width: 180px;
        }
      }
      .feature-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-left: 2rem;
        font-size: 29px;
        line-height: 26px;
        font-family: 'Noto Serif';
        font-style: italic;
        line-height: normal;
        color: #2e2e2e;
      }
    }
    @media only screen and (max-width: 991px) {
      .feature_box {
        margin: 0 0 11px;
        border-radius: 20px !important;
        padding: 40px;
        height: unset;
        min-height: unset;
        flex-direction: row;
        border-radius: 0;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        .feature_logo {
          min-height: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          margin: 0px 0;
          padding-left: 0;
          img {
            max-width: 100px;
          }
        }
        .feature-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: left;
          margin-left: 15px;
          font-family: 'lora';
          font-size: 15px;
          line-height: 15px;
        }
      }
    }
    .pinkbox {
      background: #fef2f2;
    }
    .greybox {
      background: #f5f5f5;
    }
  }
  .section-sahaj-reviews {
    padding-top: 112px;
    background: url(/img/samadhi-carousel-bg.png) repeat-x top left;
    padding-bottom: 90px;
    position: relative;
    .section-title {
      font-family: 'Work Sans';
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      margin-bottom: 70px;
    }
    .swiper-wrapper {
      display: flex;
    }
    .swiper-slide {
      align-self: stretch;
      height: auto;
    }
    .review-box {
      background: white;
      border-bottom: #a0b2fd 8px solid;
      padding: 30px;
      height: 100%;
    }
    .review-title {
      font-family: 'Lora';
      font-size: 36px;
      font-weight: 400;
      line-height: 30px;
      font-style: italic;
      padding: 0 50px 30px 0;
      background: url(/img/review-quote.png) no-repeat top right;
    }
    .review-text {
      font-family: 'Lora';
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
    .review-author {
      display: flex;
      padding-top: 25px;
      align-items: center;
      img {
        height: 55px;
        width: 55px;
        border-radius: 100%;
      }
    }
    .reviewer-photo {
      margin-right: 20px;
    }
    .reviewer-info {
      font-size: 14px;
      line-height: 20px;
    }
    .reviewer-name {
      font-weight: 600;
    }
    .reviwer-position {
      color: #6f6f6f;
    }
    .swiper-pagination {
      bottom: 0px;
    }
    .reviews-slider {
      padding-bottom: 60px;
    }
    @media screen and (max-width: 767px) {
      padding-top: 0;
      .swiper-slide {
        padding: 0 20px;
      }
      .section-title {
        font-size: 28px;
        line-height: 30px;
        padding: 0 30px;
        text-align: left;
        margin-bottom: 36px;
      }
      .review-box {
        padding: 20px;
      }
      .review-title {
        font-size: 28px;
        line-height: 30px;
      }
      .review-text {
        font-size: 16px;
        line-height: 20px;
      }
      .review-author {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .faq {
    padding: 50px 0;
    .section-title {
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      font-size: 36px;
      line-height: 30px;
      font-weight: 600;
    }
    .card {
      border: none;
      background: none;
      border-radius: 0;
      border-bottom: #dcdcdc 1px solid;
      padding: 20px 0;
      @media screen and (max-width: 767px) {
        padding: 0px 0;
      }
      &:last-child {
        border: none;
      }
      &-header {
        background: none;
        padding: 30px 0;
        border: none;
        button.btn {
          padding: 0 50px 0 0;
          display: block;
          width: 100%;
          text-align: left;
          position: relative;
          font-size: 24px;
          line-height: 22px;
          font-weight: 600;
          color: #000000;
          &:focus,
          &:hover {
            text-decoration: none;
          }
          &::before {
            content: '+';
            font-size: 26px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0px;
            right: 0;
            transform: rotate(45deg);
          }
          &.collapsed::before {
            transform: rotate(0);
          }
          @media screen and (max-width: 767px) {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
      &-body {
        font-size: 20px;
        line-height: 24px;
        padding: 0;
        @media screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 20px;
          padding-bottom: 20px;
        }
      }
    }
    @media screen and (max-width: 767px) {
      .section-title {
        text-align: left;
        font-size: 28px;
        line-height: 30px;
      }
      button.btn {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  .container {
    .registration-widget {
      .circle:before {
        background-color: #9d8dff;
      }
      .fa-solid,
      .fa-solid:before {
        color: #9d8dff;
      }
      .register-button {
        background: linear-gradient(90deg, #7464d6 9.51%, #9d8dff 93.54%);
        .fa-solid:before {
          color: #ffffff;
        }
      }
      .notes {
        .content {
          /* Track */
          &::-webkit-scrollbar-track {
            background: #e5e2f8;
          }
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #7464d6;
            border-radius: 4px;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #5348a1;
          }
        }
      }
      .early-bird-banner {
        background: #dbd5fa;
      }
    }
  }
  .float-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 10px 0;
    z-index: 10;
  }
  .float-wrapper {
    max-width: 1125px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      max-width: 320px;
    }
  }
  .bar-left {
    text-align: right;
    padding-right: 10px;
    @media screen and (max-width: 767px) {
      width: 50%;
      padding-right: 0px;
    }
    .bar-title {
      font-family: 'museo_sans500';
      font-size: 24px;
      line-height: normal;
      @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 17px;
        text-align: left;
        padding: 8px 0 0 10px;
      }
    }
  }
  .bar-right {
    text-align: left;
    padding-left: 10px;
    button {
      background: linear-gradient(90deg, #7464d6 9.51%, #9d8dff 93.54%);
      color: #fff;
      border: 0px;
      border-radius: 10px;
      padding: 1rem 4rem;
      white-space: nowrap;
      @media screen and (max-width: 767px) {
        padding: 10px 20px;
      }
    }
  }
}
