@font-face {
    font-family: 'Metropolis';
    src: local('Metropolis Regular'), local('Metropolis-Regular'), url('MetropolisRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: local('Metropolis Medium'), local('Metropolis-Medium'), url('MetropolisMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: local('Metropolis Bold'), local('Metropolis-Bold'), url('MetropolisBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

